<mat-list class="mat-list" fxFlex fxLayout="column" fxLayoutAlign="center">
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
    />
  </mat-list-item>
  <mat-list-item> <span>Tire Shop</span> </mat-list-item>
  <mat-list-item>
    <span>merchant@gmail.com</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div fxLayout="row">
      <a routerLink="/" mat-line
        ><mat-icon mat-list-icon>dashboard</mat-icon>Dashboard</a
      >
    </div>
  </mat-list-item>
  <mat-list-item>
    <div fxLayout="row">
      <a routerLink="new-app" mat-line
        ><mat-icon mat-list-icon>add</mat-icon>New Application</a
      >
    </div>
  </mat-list-item>
  <mat-list-item>
    <div fxLayout="row">
      <a routerLink="app-list" mat-line>
        <mat-icon mat-list-icon>menu</mat-icon>Application List</a
      >
    </div>
  </mat-list-item>
</mat-list>
