<div class="">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-icon>dashboard</mat-icon>
    <mat-card-title>Welcome to Dashboard</mat-card-title>
    <div class="icons">
      <mat-icon>add</mat-icon>
      <mat-icon>send</mat-icon>
    </div>
  </mat-card>
  <mat-card>
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel></ng-template>
          <h3 class="heading">Personal and Address Details</h3>
          <div
            class="stepper-form"
            fxLayout="row"
            fxLayoutAlign="center"
            fxLayoutGap="10"
          >
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <div class="residence" fxLayout="row" fxLayoutAlign="start">
              <mat-label>Residence Status </mat-label>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel></ng-template>
          <h3 class="heading">Personal and Address Details</h3>
          <div
            class="stepper-form"
            fxLayout="row"
            fxLayoutAlign="center"
            fxLayoutGap="10"
          >
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <div class="residence" fxLayout="row" fxLayoutAlign="start">
              <mat-label>Residence Status </mat-label>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20">
            <button mat-raised-button matStepperPrevious color="primary">
              BACK
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel></ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
